@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

body {
  background: #09090b;
}

::-webkit-scrollbar {
  width: 10px;
}

/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 15px;
} */

::-webkit-scrollbar-thumb {
  background: #adadad;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8b8b8b;
}
